/* 7. Rodapé */

/* Estilos para o rodapé */
footer {
    background-color: #0A0A33;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
}

/* Rodapé fixo na parte inferior da tela */
footer.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}