/* Adiciona estilo para footer */
footer {
    background-color: #0A0A33;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    width: 100%;
    font-family: 'Arial', sans-serif;
    margin-top: auto; 
}
