/* Adiciona estilo para header */

/* 1. Estilos padrões */
.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 2. Estilo Geral */
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay escuro */
    z-index: -1;
}

/* 3. Menu Principal */
.menu {
    display: flex;
    background-color: #0A0A33;
    padding: 15px;
    align-items: center;
    margin-bottom: 20px; /* Espaçamento entre o cabeçalho e o conteúdo */
}

.menu > li {
    margin: 0 15px;
    position: relative;
}

.menu > li > a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    transition: 0.3s;
}

.menu > li > a:hover {
    color: #00D4FF;
    text-decoration: underline;
}

/* 4. Submenus */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    border-radius: 5px;
    min-width: 100px;
    z-index: 1;
}

.menu li:hover .submenu {
    display: block;
}

.submenu li a {
    padding: 10px;
    color: white;
    display: block;
    text-decoration: none;
}

/* 5. Notificações */

.menu .bell-icon{
    margin-left: auto;
}

.bell-icon {
    position: relative;
    font-size: 20px;
    margin-left: auto;
}

.bell-icon:hover {
    color: #00D4FF;
}

.notification-bubble {
    position: absolute;
    top: 10px;
    right: 12px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 13px;
    height: 13px;
}

.notification-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    z-index: 1;
}

.notification-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-menu ul li {
    padding: 8px;
    color: white;
    border-bottom: 1px solid #666;
}

.notification-menu ul li a {
    color: white;
    text-decoration: none;
}

.notification-menu ul li a:hover {
    background-color: #666;
    color: #00D4FF;
}

.notification-menu ul li:hover {
    background-color: #555;
}
