/* img fundo */
 body {
    background-image: url("../Img/FundoInnova.png"); 
    background-size: cover; /* faz a imagem cobrir toda a tela */
    background-position: center; 
    background-repeat: no-repeat; 
}

.form-container {
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

html, body {
    overflow-y: auto !important;
    height: 100%;
}

.form-container h1 {
    margin-bottom: 25px;
    font-size: 36px;
    color: #2c3e50;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 14px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

#excluirTarefa, #cancelarTarefa {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
    transition: 0.3s;
}

#excluirTarefa {
    background-color: #007bff; /* azul */
    color: #fff;
}

#excluirTarefa:hover {
    background-color: #0056b3;
}

#cancelarTarefa {
    background-color: #dc3545; /* vermelho */
    color: #fff;
}

#cancelarTarefa:hover {
    background-color: #791c1c;
}
