.form-container {
    background-color: #fff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

html, body {
    overflow-y: auto !important;
    height: 100%;
}

.form-container h1 {
    margin-bottom: 25px;
    font-size: 36px;
    color: #2c3e50;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 14px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

#salvarMembro, #cancelarMembro {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    width: 140px;
    transition: 0.3s;
}

/* Botão verde */
#salvarMembro {
    background-color: #28a745;
    color: #fff;
}

#salvarMembro:hover {
    background-color: #218838;
}

/* Botão vermelho */
#cancelarMembro {
    background-color: #c82333;
    color: #fff;
}

#cancelarMembro:hover {
    background-color: #a71d2a;
}
